<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 20rem;">
        <img src="./image/fahim.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Jahidur Rahman Fahim</h5>
          <p class="card-text">This one just for testing ! So don't take it seriously it's all about fun !</p>
          <a href="/" class="btn btn-primary">Back to the home page !</a>
        </div>
      </div>
</body>
</html>